include ./jade/mixins

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')
    // Makes your prototype chrome-less once bookmarked to your phone's home screen
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')

    link(rel='stylesheet' href='/app.css')

  body
    #header.header
    #content.content
    #footer.footer

    +js('/serverConfig.js')
    +js('/vendor/react.js')
    +js('/vendor/jquery.js')
    +js('/vendor/lodash.min.js')
    +js('/vendor/backbone.js')
    +js('/vendor/page.js')

    +js('/start.js')
