@require './mixins/colors'
@require './mixins/icons'
@require './mixins/fonts'

/*
 * We're using a relative size calculation for the inner elements
 * based on the pt values provided in the spec. Each relative size
 * is the spec size divided by the total spec height to get an
 * absolute vw (viewport width) value.
 */

relSize(desiredSize, baseSize = 332, maxSize = 50vw)
  maxSize * (desiredSize / baseSize)

.challenge-square
  background-color: bgColor
  float: left
  width: 50vw
  height: 50vw
  border: 1px solid #858585

  cursor:pointer

  .challenge-square-inner
    border-width: 0 1px 1px 0
    padding: relSize(40) relSize(20) relSize(33)

    p.challenge-title
      color: fgColor
      padding: relSize(30) 0 0 0
      margin: 0
      line-height: 1
      font-size: relSize(32)
      font-weight: normal

    p.impact-score
      margin: relSize(40) 0 0 0
      padding: 0
      knockout()
      font-size: relSize(60)
      height: relSize(60)
      line-height: 1
      impact-icon()

      span
        opacity: 0.4

    img
      height: relSize(80)

  &.done
    background-color: teal
    color: #fff

    .challenge-square-inner

      p.challenge-title, p.impact-score
        color: #fff

      p.impact-score
        impact-icon-inverted()

        span
          opacity: 1

  &.active
    border: 7px solid teal
