@import 'nib'

// Imports
@import './mixins/fonts'
@import './imports/reset'
@import './imports/colors'

html, body
  better-font()
  helvetica()
  background-color grey-light
  color grey-dark
  font-size 1em
  line-height 1.4

@import './imports/buttons'
