@require './mixins/flex'
@require './mixins/fonts'

teal = #59B796

.login-page
  text-align: center
  margin-top: 15vh

  .greytext
    color: #999
    font-size: 18px
    margin-bottom: 10px

  .header
    font-size: 50px
    font-family: 'PT Sans Narrow', Arial

  .teal
    color: teal