@require '../../css/mixins/background'
@require '../../css/mixins/aligns'
@require '../../css/mixins/fonts'
@import '../../css/imports/colors'

.main
  &.login
    full-background('/img/grass.jpg')
    .page
      text-align center
      .login
        center()
        trans-background(150, 150, 150, .4)
        margin-top 15vh
        padding 10vh
        width 80%
        max-width 800px
        .logo
          font-trench()
          width 90%
          margin-left 5%
          color white
          font-size 60px
