.button
  background rgba(200, 200, 200, .5)
  color #fff
  border-radius 5px
  border 1px solid rgba(200, 200, 200, .8)
  font-weight bold
  font-size 12px
  padding 10px
  letter-spacing 2px
  margin 5px
