
teal = #16a085
red = #e74c3c
green = #27ae60
greenSharp = #BCE937
blue = #3498db

white = #fff
whiteLightShade = #fafafa
whiteShade = #efefef
whiteDarkShade = #eaeaea

greyLight = #dedede
greyShade = #bababa
greyShadeDark = #cdcdcd
grey = #555
greyDark = #363636
greyBlack = #171717

black = #000
