@require 'nib'
@require './mixins/fonts'

bgColor = #262B2C
teal = #59B796

.wave-heading
  background: url('/img/bike.png') no-repeat
  color: #fff
  //border-top: 4px solid teal //rgba(83, 147, 122, 0.5)


  .wave-content
    margin-left: 30px
    margin-top: 80px
    margin-right: 30px

    .actions
      padding-top: 20px
      min-height: 100px

    .info
      padding-bottom: 20px
      border-bottom: 1px solid #666

    h1
      font-weight: 100
      font-size: 42px
    h3
      padding-top: 20px
      font-size: 18px
    h4
      color: teal

