@font-face {
  font-family: Knockout;
  font-style: normal;
  src: url("/fonts/Knockout-HTF28-JuniorFeatherwt.otf");
}
html,
body {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga', 'kern';
     -moz-font-feature-settings: 'liga', 'kern';
          font-feature-settings: 'liga', 'kern';
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: #dedede;
  color: #363636;
  font-size: 1em;
  line-height: 1.4;
}
.button {
  background: none;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  letter-spacing: 2px;
}
a {
  color: #16a085;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bar {
  border: none;
  background-color: bgColor;
  height: 64px;
}
.bar .icon {
  padding-top: 20px;
  padding-bottom: 20px;
}
.bar .btn-link,
.bar .title {
  line-height: 64px;
}
.bar .title {
  color: fgColor;
  font-size: 28px;
}
.bar .action-link {
  color: #16a085;
  display: block;
  height: 100%;
}
.bar-nav-dark {
  background-color: #555;
}
selection {
  text-shaodw: none;
  background-color: #b3d4fc;
  color: #fff;
}

@font-face {
  font-family: Knockout;
  font-style: normal;
  src: url("/fonts/Knockout-HTF28-JuniorFeatherwt.otf");
}
/*
 * We're using a relative size calculation for the inner elements
 * based on the pt values provided in the spec. Each relative size
 * is the spec size divided by the total spec height to get an
 * absolute vw (viewport width) value.
 */
.challenge-square {
  background-color: bgColor;
  float: left;
  width: 50vw;
  height: 50vw;
  border: 1px solid #858585;
  cursor: pointer;
}
.challenge-square .challenge-square-inner {
  border-width: 0 1px 1px 0;
  padding: 6.02409638554215vw 3.0120481927711vw 4.9698795180723vw;
}
.challenge-square .challenge-square-inner p.challenge-title {
  color: fgColor;
  padding: 4.51807228915665vw 0 0 0;
  margin: 0;
  line-height: 1;
  font-size: 4.81927710843375vw;
  font-weight: normal;
}
.challenge-square .challenge-square-inner p.impact-score {
  margin: 6.02409638554215vw 0 0 0;
  padding: 0;
  font-family: "Knockout", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 9.03614457831325vw;
  height: 9.03614457831325vw;
  line-height: 1;
}
.challenge-square .challenge-square-inner p.impact-score:before {
  font-family: pileup;
  content: "\e601";
  font-size: 0.7em;
  letter-spacing: 0.2em;
  color: #16a085;
}
.challenge-square .challenge-square-inner p.impact-score span {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.challenge-square .challenge-square-inner img {
  height: 12.04819277108435vw;
}
.challenge-square.done {
  background-color: #16a085;
  color: #fff;
}
.challenge-square.done .challenge-square-inner p.challenge-title,
.challenge-square.done .challenge-square-inner p.impact-score {
  color: #fff;
}
.challenge-square.done .challenge-square-inner p.impact-score:before {
  font-family: pileup;
  content: "\e601";
  font-size: 0.7em;
  letter-spacing: 0.2em;
  color: #16a085;
}
.challenge-square.done .challenge-square-inner p.impact-score:before {
  color: bgColor;
}
.challenge-square.done .challenge-square-inner p.impact-score span {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
.challenge-square.active {
  border: 7px solid #16a085;
}

.profile-pic {
  border-radius: 500rem;
}

.button {
  background: none;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  letter-spacing: 2px;
}




@font-face {
  font-family: Knockout;
  font-style: normal;
  src: url("/fonts/Knockout-HTF28-JuniorFeatherwt.otf");
}




.user-bar {
  overflow: auto;
  padding: 0.75em 1em;
  border-top: 1px solid #858585;
}
.user-bar span.points {
  float: right;
  color: #16a085;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 2.5%;
}
.user-bar span.points:before {
  font-family: pileup;
  content: "\e601";
  font-size: 0.7em;
  letter-spacing: 0.2em;
  color: #16a085;
}
.user-bar span.welcome {
  float: left;
  opacity: 0.45;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  filter: alpha(opacity=45);
  font-size: 1em;
}
.challenge-index-page {
  overflow: auto;
}

.modal header.bar {
  background-color: transparent;
}
.modal header.bar .title {
  color: #fff;
}
.modal header.bar a.icon {
  color: #fff;
}
.modal .content {
  background-color: #16a085;
}
.modal .content .content-padded {
  background-color: #16a085;
  color: #fff;
  text-align: center;
}
.modal .content .content-padded i.icon {
  color: #fff;
  font-size: 30vw;
  margin-top: 60px;
}
.modal .content .content-padded h3 {
  color: #fff;
  font-size: 2em;
  margin-top: 1em;
  font-weight: normal;
}
.modal .content .content-padded textarea.styled {
  border-radius: 10px;
  border: 4px solid #fff;
  background-color: #16a085;
  padding: 10px;
}
.challenge .intro {
  background-color: #16a085;
  height: 200px;
  position: relative;
}
.challenge .intro .intro-overlay {
  background-color: rgba(255,255,255,0.2);
  overflow: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}
.challenge .intro .intro-duration {
  float: right;
}
.action-panel {
  position: relative;
  overflow: auto;
  padding: 1em;
}
.action-panel .action-block {
  float: left;
  width: 33%;
  text-align: center;
  border-left: 1px solid #000;
  font-size: 0.8em;
}
.action-panel .action-block:first-child {
  border-left-width: 0;
}
.action-panel .action-block .icon {
  color: #16a085;
  display: block;
  font-size: 3em;
  margin-bottom: 0.2em;
}
.photos img {
  width: 33%;
}
.tip {
  border-bottom: 1px solid #e7e7e7;
  padding: 1em;
}
.tip .location {
  color: #16a085;
}
.tip .location:before {
  font-family: pileup;
  content: "\e602";
  font-size: 0.9em;
  letter-spacing: 0.2em;
}
#map {
  height: 200px;
  width: 100%;
}

@font-face {
  font-family: Knockout;
  font-style: normal;
  src: url("/fonts/Knockout-HTF28-JuniorFeatherwt.otf");
}
.main .greytext {
  color: #999;
  font-size: 18px;
  margin-bottom: 10px;
}
.main .header {
  font-size: 50px;
  font-family: 'PT Sans Narrow', Arial;
}
.main .teal {
  color: #16a085;
}

@font-face {
  font-family: Knockout;
  font-style: normal;
  src: url("/fonts/Knockout-HTF28-JuniorFeatherwt.otf");
}
.login-page {
  text-align: center;
  margin-top: 15vh;
}
.login-page .greytext {
  color: #999;
  font-size: 18px;
  margin-bottom: 10px;
}
.login-page .header {
  font-size: 50px;
  font-family: 'PT Sans Narrow', Arial;
}
.login-page .teal {
  color: #59b796;
}

#content {
  margin-top: 64px;
}
.main-navbar img {
  height: 44px;
}


@font-face {
  font-family: Knockout;
  font-style: normal;
  src: url("/fonts/Knockout-HTF28-JuniorFeatherwt.otf");
}
/*
 * We are using a relative size calculation for the inner elements
 * based on the pt values provided in the spec. Each relative size
 * is the spec size divided by the total spec height to get an
 * absolute vw (viewport width) value.
 */
.block {
  border-top: 1px solid #bdbdbd;
  padding: 20px 30px;
}
.block h2 {
  font-size: 16pt;
}
.block .action-link {
  float: right;
  color: #16a085;
}
.user-details {
  overflow: auto;
  font-size: 62.85%;
  line-height: 1;
}
.user-details .user-photo {
  float: left;
  width: 25%;
}
.user-details .user-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.user-details .user-info {
  float: left;
  width: 75%;
}
.user-details .user-info .padder {
  margin-left: 10px;
}
.user-details .user-info h3 {
  font-size: 2.4em;
  margin-bottom: 0.2em;
  font-weight: 400;
  margin-top: 0.4em;
}
.user-details .user-info p.location {
  font-size: 1.8em;
  font-weight: bold;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.user-details .user-info p.location:before {
  font-family: pileup;
  content: "\e602";
  font-size: 0.9em;
  letter-spacing: 0.2em;
}
.user-details p.impact-score {
  margin: 0.6024096385542vw 0 0 0;
  line-height: 1;
  font-size: 4.2em;
  color: #16a085;
  font-family: "Knockout", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.user-details p.impact-score:before {
  font-family: pileup;
  content: "\e601";
  font-size: 0.7em;
  letter-spacing: 0.2em;
  color: #16a085;
}
