@require './mixins/fonts'
@require './mixins/colors'
@require './mixins/icons'

/*
 * We are using a relative size calculation for the inner elements
 * based on the pt values provided in the spec. Each relative size
 * is the spec size divided by the total spec height to get an
 * absolute vw (viewport width) value.
 */

relSize(desiredSize, baseSize = 332, maxSize = 100vw)
  maxSize * (desiredSize / baseSize)

circular(w, h)
  width: w;
  height: h;
  border-radius: (w/2);
  -webkit-border-radius: (w/2);
  -moz-border-radius: (w/2);

.block
  border-top: 1px solid #bdbdbd
  padding: 20px 30px
  h2
    font-size: 16pt
  .action-link
    float: right
    color: teal

.user-details
  overflow: auto
  font-size: 62.85%
  line-height: 1

  .user-photo
    float: left
    width: 25%
    img
      circular(100%, 100%)

  .user-info
    float: left
    width: 75%
    .padder
      margin-left: 10px
    h3
      font-size: 2.4em
      margin-bottom: .2em
      font-weight: 400
      margin-top: .4em
    p.location
      font-size: 1.8em
      font-weight: bold
      opacity: 0.5
      location-icon()

  p.impact-score
    margin: relSize(2) 0 0 0
    line-height: 1
    font-size: 4.2em
    color: teal
    knockout()
    impact-icon()
