font-roboto()
  @font-face
    font-family 'roboto'
    font-style normal
    font-weight 200
    src: local('Roboto'), local('Roboto'), url(../../fonts/roboto.ttf) format('truetype');
    font-smoothing antialiased
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

font-trench()
  @font-face
    font-family 'trench'
    font-style normal
    font-weight 200
    src: local('Trench'), local('Trench'), url(../../fonts/trench.otf) format('opentype');
    font-smoothing antialiased
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
