@require './mixins/flex'
@require './mixins/fonts'
@require './mixins/colors'

.splash-page
  cursor pointer
  text-align center
  background-color grey
  background-image url(/img/ripple_bg.png)
  background-position bottom center
  background-repeat no-repeat
  padding-top 50px

  .greytext
    color: #999
    font-size: 18px
    margin-bottom: 10px

  .header
    font-size: 50px
    font-family: 'PT Sans Narrow', Arial

  .teal
    color: teal
